/*Se da estilo a la nav-bar
#header{
    display: inline-flex;
    margin:auto;
    width: 100%;
    min-width: 100%;
    max-width: 1400px;
    height: 40px;
    background-color:#72CA5F;
}
li{list-style: none;}
ul,ol{list-style: none;}
.nav li a{
    background-color:#72CA5F;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: ease 0.3s;
}
.nav li a:hover {background-color: #434343;}
.nav > li {float:left;}
.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav li:hover > ul {display: block;}
.salir{
    float: right;
    background-color:#72CA5F;
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    transition: ease 0.3s;
    font-size: 17px;
}
.salir:hover{
    background-color: #434343;
}

-------------------------------------*/
nav{
    padding: 0;
    margin: 0;
}

.container-fluid, .navbar, .collapse, .navbar-nav, .dropdown-menu{
    background-color: #72CA5F;
}
.dropdown-item, .nav-link{
    color: white;
    font-weight: bolder;
}

footer>img{
    position: absolute;
    left: 88%;
    top: 70%;
    opacity: 0.8;
    z-index: 0;
}