
.ad{width: 50%; margin: 0 auto; border: 1px solid #5E5E5E; position: fixed; left: 25%; top: 15%;}
.inp{width: 40%; font-weight: bold; color: rgb(96, 96, 96);}
.t{width: 30%; font-weight: bold; color: rgb(96, 96, 96);}
.d{width:10%;}
.head{margin: 10px; padding: 10px; text-align: center; display: flex;}
table{padding: 3%; text-align: center; background-color: white; position: relative; left: 2.5%; width: 95%;}
tr, td{padding: 5px; margin: 5px;}
.tableheads{background-color: #5E5E5E; color: white;}
.stats{position: absolute; top: 85%; left: 10%;}
.label{ flex-grow: 1; font-weight: bold; color: rgb(96, 96, 96);}
.buttons2{position: relative; left: 65%; margin-top: 10px; margin-bottom: 20px;}










.buttons{position: relative; left: 15%;}
.cancel{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(224, 76, 76); 
    background-color: white;
    color:  rgb(224, 76, 76);
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 rgb(224, 76, 76);
    transition: ease-out 0.5s;
}
.cancel:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(224, 76, 76);
    box-shadow: inset 0 -100px 0 0 rgb(224, 76, 76);
}

.registrar{
    padding: 10px;
    border: 2px solid #72CA5F; 
    background-color: white;
    color: #72CA5F;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 #72CA5F;
    transition: ease-out 0.5s;
}
.registrar:hover{
    color: white;
    border: 2px solid white;
    background-color: #72CA5F;
    box-shadow: inset 0 -100px 0 0 #72CA5F;
}