body {
    overflow-y: hidden;
    overflow-x: hidden;
}
.table-desc-item{
    width: 170px;
}
.u{
    width: 90px;
}
.venta{width: 55%; background-color: white; position: fixed; left: 22.5%; bottom: 5%; max-height: 560px;}
form{padding: 20px 30px;}
.table-cell{
    width:200px;
}
.inp{width: 80px;}
td{border: 1px solid gray; padding: 5px; font-weight: bolder; color: gray;}
#item{color: gray; font-weight: bolder;}
.mem{padding-bottom: 10px;}
#pago{width: 200px; color: gray; font-weight: bolder;}

.buttons{position: relative; left: 65%;}
.cancel{
    margin: 10px;
    padding: 10px;
    border: 2px solid rgb(224, 76, 76); 
    background-color: white;
    color:  rgb(224, 76, 76);
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 rgb(224, 76, 76);
    transition: ease-out 0.5s;
}
.cancel:hover{
    color: white;
    border: 2px solid white;
    background-color: rgb(224, 76, 76);
    box-shadow: inset 0 -100px 0 0 rgb(224, 76, 76);
}

.registrar{
    padding: 10px;
    border: 2px solid #72CA5F; 
    background-color: white;
    color: #72CA5F;
    border-radius: 0px 10px 0px 10px;
    font-size: 15px;
    box-shadow: inset 0 0 0 0 #72CA5F;
    transition: ease-out 0.5s;
}
.registrar:hover{
    color: white;
    border: 2px solid white;
    background-color: #72CA5F;
    box-shadow: inset 0 -100px 0 0 #72CA5F;
}
